<div id="header">

    <div class="header__navigation container">
        <div class="header__logo rps-header__logo">
            <a class="" href="../home/index.html"><img src="../../assets/images/1library.net.png" alt="" class="header__logo--image"></a>
        </div>
        
        <div class="header__search rps-header__search">
            <label for="hide-on-menu" class="header__menu--click hidden-on-pc">
                <svg class="header__menu--icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                    <title>menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                </svg>
            </label>
            <input type="text" class="header__search--input hidden-on-mobile" placeholder="Search">
            <button class="header__search--btn hidden-on-mobile"><i class="fas fa-search"></i></button>
        </div>

        <div class="header__menu rps-header__menu">
            <label for="hide-on-menu" class="header__menu--click hidden-on-mobile">
                <svg class="header__menu--icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                    <title>menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                </svg>
            </label>
            <input type="checkbox" id="hide-on-menu" class="menu__check">
            <label for="hide-on-menu" class="header__overlay"></label>
            <button class="header__search--btn-mobile hidden-on-pc" ><i class="fas fa-search"></i></button>
            <a href="../log__in/log__in.html" class="header__menu--user">
                <svg class="header__menu--icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <circle fill="none" cx="12" cy="7" r="3"></circle>
                    <path d="M12 2C9.243 2 7 4.243 7 7s2.243 5 5 5 5-2.243 5-5S14.757 2 12 2zM12 10c-1.654 0-3-1.346-3-3s1.346-3 3-3 3 1.346 3 3S13.654 10 12 10zM21 21v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h2v-1c0-2.757 2.243-5 5-5h4c2.757 0 5 2.243 5 5v1H21z"></path>
                </svg>
            </a>
            <div class="hide__menu container">
                <div class="grid ">
                    <div class="menu__list">
                        <ul class="row no-gutter">
                            <li class="menu__item col x-4 l-4 m-6 sm-6 s-6">
                                <a class="menu__item--link" href="">Business</a>
                            </li>
                            <li class="menu__item col x-4 l-4 m-6 sm-6 s-6">
                                <a class="menu__item--link" href="">Career</a>
                            </li>
                            <li class="menu__item col x-4 l-4 m-6 sm-6 s-6">
                                <a class="menu__item--link" href="">Data &amp; Analytics</a>
                            </li>
                            <li class="menu__item col x-4 l-4 m-6 sm-6 s-6">
                                <a class="menu__item--link" href="">Design</a>
                            </li>
                            <li class="menu__item col x-4 l-4 m-6 sm-6 s-6">
                                <a class="menu__item--link" href="">Devices &amp; Hardware</a>
                            </li>
                            <li class="menu__item col x-4 l-4 m-6 sm-6 s-6">
                                <a class="menu__item--link" href="">Economy &amp; Finance</a>
                            </li>
                            <li class="menu__item col x-4 l-4 m-6 sm-6 s-6">
                                <a class="menu__item--link" href="">Environment</a>
                            </li>
                            <li class="menu__item col x-4 l-4 m-6 sm-6 s-6">
                                <a class="menu__item--link" href="">Education</a>
                            </li>
                            <li class="menu__item col x-4 l-4 m-6 sm-6 s-6">
                                <a class="menu__item--link" href="">Engineering</a>
                            </li>
                            <li class="menu__item col x-4 l-4 m-6 sm-6 s-6">
                                <a class="menu__item--link" href="">Entertainment &amp; Art</a>
                            </li>
                            <li class="menu__item col x-4 l-4 m-6 sm-6 s-6">
                                <a class="menu__item--link" href="">Food</a>
                            </li>
                            <li class="menu__item col x-4 l-4 m-6 sm-6 s-6">
                                <a class="menu__item--link" href="">Government &amp; Nonprofit</a>
                            </li>
                            <li class="menu__item col x-4 l-4 m-6 sm-6 s-6">
                                <a class="menu__item--link" href="">Health &amp; Medicine</a>
                            </li>
                            <li class="menu__item col x-4 l-4 m-6 sm-6 s-6">
                                <a class="menu__item--link" href="">Healthcare</a>
                            </li>
                            <li class="menu__item col x-4 l-4 m-6 sm-6 s-6">
                                <a class="menu__item--link" href="">Internet</a>
                            </li>
                            <li class="menu__item col x-4 l-4 m-6 sm-6 s-6">
                                <a class="menu__item--link" href="">Investment relations</a>                    </li>
                            <li class="menu__item col x-4 l-4 m-6 sm-6 s-6">
                                <a class="menu__item--link" href="">Law</a>
                            </li>
                            <li class="menu__item col x-4 l-4 m-6 sm-6 s-6">
                                <a class="menu__item--link" href="">Leadership &amp; Management</a>
                            </li>
                            <li class="menu__item col x-4 l-4 m-6 sm-6 s-6">
                                <a class="menu__item--link" href="">Lifestyle</a>
                            </li>
                            <li class="menu__item col x-4 l-4 m-6 sm-6 s-6">
                                <a class="menu__item--link" href="">Marketing</a>
                            </li>
                            <li class="menu__item col x-4 l-4 m-6 sm-6 s-6">
                                <a class="menu__item--link" href="">Mobile</a>
                            </li>
                            <li class="menu__item col x-4 l-4 m-6 sm-6 s-6">
                                <a class="menu__item--link" href="">News &amp; Politics</a>
                            </li>
                            <li class="menu__item col x-4 l-4 m-6 sm-6 s-6">
                                <a class="menu__item--link" href="">Presentations &amp; Public Speaking</a>
                            </li>
                            <li class="menu__item col x-4 l-4 m-6 sm-6 s-6">
                                <a class="menu__item--link" href="">Real Estate</a>
                            </li>
                            <li class="menu__item col x-4 l-4 m-6 sm-6 s-6">
                                <a class="menu__item--link" href="">Recruiting &amp; HR</a>
                            </li>
                            <li class="menu__item col x-4 l-4 m-6 sm-6 s-6">
                                <a class="menu__item--link" href="">Retail</a>
                            </li>
                            <li class="menu__item col x-4 l-4 m-6 sm-6 s-6">
                                <a class="menu__item--link" href="">Sales</a>
                            </li>
                            <li class="menu__item col x-4 l-4 m-6 sm-6 s-6">
                                <a class="menu__item--link" href="">Science</a>
                            </li>
                            <li class="menu__item col x-4 l-4 m-6 sm-6 s-6">
                                <a class="menu__item--link" href="">Self Improvement</a>
                            </li>
                            <li class="menu__item col x-4 l-4 m-6 sm-6 s-6">
                                <a class="menu__item--link" href="">Services</a>
                            </li>
                            <li class="menu__item col x-4 l-4 m-6 sm-6 s-6">
                                <a class="menu__item--link" href="">Small &amp; Middle Entrepreneurship</a>
                            </li>
                            <li class="menu__item col x-4 l-4 m-6 sm-6 s-6">
                                <a class="menu__item--link" href="">Social Media</a>
                            </li>
                            <li class="menu__item col x-4 l-4 m-6 sm-6 s-6">
                                <a class="menu__item--link" href="">Software</a>
                            </li>
                            <li class="menu__item col x-4 l-4 m-6 sm-6 s-6">
                                <a class="menu__item--link" href="">Spiritual</a>
                            </li>
                            <li class="menu__item col x-4 l-4 m-6 sm-6 s-6">
                                <a class="menu__item--link" href="">Sports</a>
                            </li>
                            <li class="menu__item col x-4 l-4 m-6 sm-6 s-6">
                                <a class="menu__item--link" href="">Technology</a>
                            </li>
                            <li class="menu__item col x-4 l-4 m-6 sm-6 s-6">
                                <a class="menu__item--link" href="">Travel</a>
                            </li>
                            <li class="menu__item col x-4 l-4 m-6 sm-6 s-6">
                                <a class="menu__item--link" href="">Other</a>
                            </li>
                        </ul>
                    </div>    
                </div>
            </div>
        </div>
    </div>   

    <div class="header__user container">
        <div class="header__user-box rps-header__user-box">
            <div class="user-box__left">
                <div class="user-box__left--image">
                    <img class="" src="https://assets.123doks.com/1libnet/assets_v3/images/avatar.png" alt="son nguyen">
                </div>
                <div class="user-box__left--describe">
                    <h3 class="user-box__left--heading"> son nguyen </h3>
                    <p class="user-box__left--text">
                        sonnguyensinger@gmail.com
                        <br>
                        <span class="user-box__left--icon">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            </svg>
                        </span>
                        
                        <a class="user-box__left--link" href="https://1library.net/auth/v1/email/resend" >
                            Resend active email
                        </a>
                    </p>
                </div>

            </div>
            <div class="user-box__right">
                <ul class="user-box__right--list">
                    <li class="user-box__right--item"><a class="user-box__right--link" href="">My Downloaded</a></li>
                    <li class="user-box__right--item"><a class="user-box__right--link" href="../../pages/setting/index.html">Setting</a></li>
                    <li class="user-box__right--item"><a class="user-box__right--link" href="../log__in/log__in.html">Log Out</a></li>
                </ul>


            </div>
        </div>
    </div>
</div>