
*{
    margin: 0 auto;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    letter-spacing: 0;
    font-family: Montserrat, Pattaya;
}

body{
    color:var(--color-text-default);
    line-height: 1.5;
    letter-spacing: 0;
    background-color: var(--color-main-background);
}

:root {
    --color-primary: #536a92;
    --color-secondary: #ee5a24;
    --color-primary-darker: #3e4f6e;
    --color-primary-lighter: #6f86ad;
    --color-secondary-darker: #d24410;
    --color-secondary-lighter: #f17b4f;
    --color-info: #5d789b;
    --color-success: #00a888;
    --color-warning: #fa0;
    --color-danger: #e13d34;
    --color-error: #e13d34;
    --color-default: #f5f5f5;
    --color-text-default: #333;
    --color-main-background: #f5f5f5;
}

.w-full{
    width:100%;
}
.w-half{
    width:50%;
}
.w1-3{
    width:calc(100%/3);
}
.w1-4{
    width:25%;
}
.w2-3{
    width:66.6666%;
}
.w-16{
    width:64px;
}
.h-16{
    height:64px;
}

.container{
    width:100%;
    margin: 0px auto;
}


@media (max-width:640px){
    .container{
        max-width:640px;
    }
    
}

@media (min-width:641px) and (max-width:768px){
    .container{
        max-width:640px;
    }
    

}

@media (min-width:769px) and (max-width:1113px){
    .container{
        max-width:769px;
    }


}

@media (min-width:1114px) and (max-width:1279px){
    .container{
        max-width:1114px;
    }
    

}

@media (min-width:1280px){
    .container{
        max-width:1280px;
    }

}



/* ------ responsive class="container" ------
@media only screen and (min-width: 640px){
    .container{
        max-width:640px;
    }
    
}

@media only screen and (min-width: 768px){
    .container{
        max-width:768px;
    }
    
}

@media only screen and (min-width: 1113px){
    .container{
        max-width:1113px;
    }
    
}

@media only screen and (min-width: 1280px){
    .container{
        max-width:1280px;
    }
    
}
*/