.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.grid.container {
    width:100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap ;
    margin: 0px -4px;
}

.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.col {
    padding-left: 4px;
    padding-right: 4px; 
}

.row.no-gutter .col {
    padding-left: 0;
    padding-right: 0;
}
@media only screen and (max-width:640px){

.s-0 {
    display: none;
}

.s-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.s-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.s-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.s-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.s-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.s-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.s-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.s-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.s-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.s-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.s-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.s-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.s-o-1 {
    margin-left: 8.33333%;
}

.s-o-2 {
    margin-left: 16.66667%;
}

.s-o-3 {
    margin-left: 25%;
}

.s-o-4 {
    margin-left: 33.33333%;
}

.s-o-5 {
    margin-left: 41.66667%;
}

.s-o-6 {
    margin-left: 50%;
}

.s-o-7 {
    margin-left: 58.33333%;
}

.s-o-8 {
    margin-left: 66.66667%;
}

.s-o-9 {
    margin-left: 75%;
}

.s-o-10 {
    margin-left: 83.33333%;
}

.s-o-11 {
    margin-left: 91.66667%;
}
}

@media (min-width: 641px) and (max-width: 768px) {
    .sm-0 {
        display: none;
    }
    
    .sm-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    
    .sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    
    .sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .sm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    
    .sm-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    
    .sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .sm-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    
    .sm-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    
    .sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    
    .sm-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    
    .sm-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    
    .sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    .sm-o-1 {
        margin-left: 8.33333%;
    }
    
    .sm-o-2 {
        margin-left: 16.66667%;
    }
    
    .sm-o-3 {
        margin-left: 25%;
    }
    
    .sm-o-4 {
        margin-left: 33.33333%;
    }
    
    .sm-o-5 {
        margin-left: 41.66667%;
    }
    
    .sm-o-6 {
        margin-left: 50%;
    }
    
    .sm-o-7 {
        margin-left: 58.33333%;
    }
    
    .sm-o-8 {
        margin-left: 66.66667%;
    }
    
    .sm-o-9 {
        margin-left: 75%;
    }
    
    .sm-o-10 {
        margin-left: 83.33333%;
    }
    
    .sm-o-11 {
        margin-left: 91.66667%;
    }
    
}


/* >= Tablet */
@media (min-width:769px) {
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    .m-0 {
        display: none;
    }

    .m-1,
    .m-2,
    .m-3,
    .m-4,
    .m-5,
    .m-6,
    .m-7,
    .m-8,
    .m-9,
    .m-10,
    .m-11,
    .m-12 {
        display: block;
    }

    .m-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .m-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .m-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .m-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .m-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .m-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .m-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .m-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .m-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .m-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .m-o-1 {
        margin-left: 8.33333%;
    }

    .m-o-2 {
        margin-left: 16.66667%;
    }

    .m-o-3 {
        margin-left: 25%;
    }

    .m-o-4 {
        margin-left: 33.33333%;
    }

    .m-o-5 {
        margin-left: 41.66667%;
    }

    .m-o-6 {
        margin-left: 50%;
    }

    .m-o-7 {
        margin-left: 58.33333%;
    }

    .m-o-8 {
        margin-left: 66.66667%;
    }

    .m-o-9 {
        margin-left: 75%;
    }

    .m-o-10 {
        margin-left: 83.33333%;
    }

    .m-o-11 {
        margin-left: 91.66667%;
    }
}
@media (min-width: 1113px){
    .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .row.sm-gutter {
        margin-left: -8px;
        margin-right: -8px;
    }

    .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .row.sm-gutter .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    .l-0 {
        display: none;
    }

    .l-1,
    .l-2,
    .l-2-4,
    .l-3,
    .l-4,
    .l-5,
    .l-6,
    .l-7,
    .l-8,
    .l-9,
    .l-10,
    .l-11,
    .l-12 {
        display: block;
    }

    .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .l-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .l-o-1 {
        margin-left: 8.33333%;
    }

    .l-o-2 {
        margin-left: 16.66667%;
    }

    .l-o-3 {
        margin-left: 25%;
    }

    .l-o-4 {
        margin-left: 33.33333%;
    }

    .l-o-5 {
        margin-left: 41.66667%;
    }

    .l-o-6 {
        margin-left: 50%;
    }

    .l-o-7 {
        margin-left: 58.33333%;
    }

    .l-o-8 {
        margin-left: 66.66667%;
    }

    .l-o-9 {
        margin-left: 75%;
    }

    .l-o-10 {
        margin-left: 83.33333%;
    }

    .l-o-11 {
        margin-left: 91.66667%;
    }

}

/* Ps medium resolution > */
@media (min-width: 1280px) {
    .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .row.sm-gutter {
        margin-left: -8px;
        margin-right: -8px;
    }

    .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .row.sm-gutter .sol {
        padding-left: 8px;
        padding-right: 8px;
    }

    .x-0 {
        display: none;
    }

    .x-1,
    .x-2,
    .x-2-4,
    .x-3,
    .x-4,
    .x-5,
    .x-6,
    .x-7,
    .x-8,
    .x-9,
    .x-10,
    .x-11,
    .x-12 {
        display: block;
    }

    .x-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .x-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .x-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .x-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .x-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .x-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .x-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .x-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .x-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .x-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .x-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .x-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .x-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .x-o-1 {
        margin-left: 8.33333%;
    }

    .x-o-2 {
        margin-left: 16.66667%;
    }

    .x-o-3 {
        margin-left: 25%;
    }

    .x-o-4 {
        margin-left: 33.33333%;
    }

    .x-o-5 {
        margin-left: 41.66667%;
    }

    .x-o-6 {
        margin-left: 50%;
    }

    .x-o-7 {
        margin-left: 58.33333%;
    }

    .x-o-8 {
        margin-left: 66.66667%;
    }

    .x-o-9 {
        margin-left: 75%;
    }

    .x-o-10 {
        margin-left: 83.33333%;
    }

    .x-o-11 {
        margin-left: 91.66667%;
    }
}


/* Tablet - Ps low resolution */
@media (min-width: 768px) and (max-width: 1023px) {
    
    
}


/* > Ps low resolution 
@media (min-width: 1024px) and (max-width: 1239px) {
    
/*
    .sontainer .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .sontainer .row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }

    .sontainer .sol {
     /*   padding-left: 12px;
        padding-right: 12px; 
    } 

    .sontainer .row.sm-gutter .sol {
        padding-left: 5px;
        padding-right: 5px;
    }

    .sontainer .m-0 {
        display: none;
    }

    .sontainer .m-1,
    .sontainer .m-2,
    .sontainer .m-2-4,
    .sontainer .m-3,
    .sontainer .m-4,
    .sontainer .m-5,
    .sontainer .m-6,
    .sontainer .m-7,
    .sontainer .m-8,
    .sontainer .m-9,
    .sontainer .m-10,
    .sontainer .m-11,
    .sontainer .m-12 {
        display: blosk;
    }

    .sontainer .m-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .sontainer .m-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .sontainer .m-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .sontainer .m-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .sontainer .m-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .sontainer .m-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .sontainer .m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .sontainer .m-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .sontainer .m-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .sontainer .m-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .sontainer .m-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .sontainer .m-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .sontainer .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .sontainer .m-o-1 {
        margin-left: 8.33333%;
    }

    .sontainer .m-o-2 {
        margin-left: 16.66667%;
    }

    .sontainer .m-o-3 {
        margin-left: 25%;
    }

    .sontainer .m-o-4 {
        margin-left: 33.33333%;
    }

    .sontainer .m-o-5 {
        margin-left: 41.66667%;
    }

    .sontainer .m-o-6 {
        margin-left: 50%;
    }

    .sontainer .m-o-7 {
        margin-left: 58.33333%;
    }

    .sontainer .m-o-8 {
        margin-left: 66.66667%;
    }

    .sontainer .m-o-9 {
        margin-left: 75%;
    }

    .sontainer .m-o-10 {
        margin-left: 83.33333%;
    }

    .sontainer .m-o-11 {
        margin-left: 91.66667%;
    }
} 
*/