/* css document */
#content__document{
    margin-top:16px;
    scroll-behavior: smooth;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    height: auto;

}
/*----------sidebar-left ----------*/
.sidebar-left{
    padding: 0px 4px;
}

.sidebar-left__advertisement{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    text-align: center;
}
/*---------------------------------*/
.content__top{
    padding: 0px 12px;
}

.content__top-breadcrumb{
    width:100%;
    margin: 16px 0px;
    padding: 0px 8px;
}
.breadcrumb-list{
    display: flex;
    align-items: center;
    font-size: 16px;
}

.breadcrumb-item{
    padding-right:8px;
    font-size: 16px;
}

.breadcrumb-item--link{
    display: flex;
    justify-content: center;
    align-items: center;
}

.breadcrumb-item--link{
    text-decoration: none;
    color:#536a92;
    font-size: 16px;
}

.breadcrumb-item--link:hover{
    color:var(--color-secondary);
}

.icon-breadcrumb{
    display:inline-block;
    height:16px;
    width:16px;
    margin:0px, 8px;
}

.content__top-heading{
    font-size: 24px;
    word-break: break-word;
    overflow-wrap:break-word;
    text-align:left;
    padding:0px 8px;
    margin-bottom:16px;
    margin-top:8px;
    font-weight:700;
    line-height: 1.5;


}

.content__top-view{
    display: flex;
    flex-wrap:wrap;
    padding: 0px 8px;
    margin-bottom:16px;
    width:100%;

}

.content__top-view--item{
    color:#718096;
    font-size:16px;
    display: flex;
    align-items: center;

}

.content__top-view--icon{
    width:16px;
    height: 20px;
    margin-right:4px;
    margin-left: 8px;


}

.sidebar-right{
    padding: 0px 12px;
}
