.content__login{
    width:100%;
    margin:0px auto;


}

#login{
    width:100%;

}

#login .login__form{
    margin: 60px auto;
    display: block;
    padding: 30px;
    max-width: 480px;
    background: #ededed;
    border-radius: 8px;
    box-shadow: 0 2px 5px 1px rgb(0 0 0 / 10%);

}


.login__box{
    width:100%;
    
    
    


}

.login__box-logo{
    text-align: center;

}

.login__box-logo--image{
    text-align: center;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.login__box-username{
    margin: 15px 0px;
}

.username__input{
    width:100%;
    line-height: 46px;
    padding: 0 10px;
    font-size: 16px;
    border-radius: 3px;
}

.login__box-password{
    margin: 15px 0px;
}

.password__input{
    width:100%;
    line-height: 46px;
    padding: 0 10px;
    font-size: 16px;
    border-radius: 3px;
}

.login__box-btn{
    display: block;
    margin: 30px 0;
    padding: 13px;
    width: 100%;
    background: #33cc77;
    border: 1px solid #33cc77;
    border-top-color: transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;

}

.register-container{
    display: flex;
    justify-content:space-between;
}
.register-container__link{
    color: #085DA9;
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;

}

.social-login-separator{
    width: 100%;
    display: block;
    text-align: center;
    position: relative;
    margin: 40px 0 15px 0;
    height: 1px;
    
}
.social-login-separator:before {
    width: 100%;
    content: "";
    height: 1px;
    display: block;
    background-color: #a0aec0;
    position: absolute;
    top: 0;
}

.social-login-separator span {
    position: absolute;
    line-height: 10px;
    top: -5px;
    margin-left: -15px;
    padding: 0px 10px;
    background: #ededed;
    font-size:16px;
}

.social-login-buttons{
    display: flex;
    width:100%;
    margin-top:36px;

}

.social-login-buttons--link{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
    text-align: center;
    padding: 12px 16px;
    border: 1px solid #333;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    max-width: 50%;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;

}

.social-login-buttons--link svg{
    margin: 0;
}

.social-login-buttons--link p{
    display: inline-block;
    text-align: center;
    font-size: 14px;

}


.facebook-login{
    background-color: #3b5998;
    border-color: #3b5998;
    margin-right: 5px;

}

.google-login{
    background-color: #dd4b39;
    border-color: #dd4b39;
    margin-left: 5px;

}
