<div class="box2__item">
    <a href="" class="box2__item--link">
        <div class="item-detail">
            <div class="item__image">
                <img src="../../assets/images/image__home/cover" alt="">
            </div>
            <div class="item__text">
                <div class="item__text--heading">
                    <h2 class="item__text--title">Electronic Devices And Circuit Theory 7th Edition [by
                        Robert L Boylestad] pdf</h2>
                </div>
                <div class="icon-control">
                    <span>
                        <svg class="icon-svg" viewBox="0 0 24 24" width="24" height="24"
                            stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                            <polyline points="13 2 13 9 20 9"></polyline>
                        </svg>
                    </span>
                    <span>
                        <svg class="icon-svg" width="24" height="24" viewBox="0 0 24 24"
                            stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                            <polyline points="7 10 12 15 17 10"></polyline>
                            <line x1="12" y1="15" x2="12" y2="3"></line>
                        </svg>
                    </span>
                    <span>
                        <svg class="icon-svg" viewBox="0 0 24 24" width="24" height="24"
                            stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                            <circle cx="12" cy="12" r="3"></circle>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
    </a>
</div>