@import "../../components/header/header.css";
@import "../../components/footer/footer.css";
@import "../../components/breadcrumb/breadcrumb.css";


.content__topic{
    margin: 0px auto;
}

.content__top{
    margin:0px auto;
}

.content__top-heading{
    margin: 8px 0px 16px;
    font-size: 24px;
    padding:0px 8px;
}

.content__top-tab{
    border-bottom: 1px solid #e2e8f0;
}

.content__top-tab-list{
    display:flex;
    justify-content: flex-start;
    font-size: 16px;
}

.content__top-tab-item{
    padding:12px 8px;
    text-align: center;
}

.content__top-tab-item--link{
    text-decoration: none;
    font-weight:600;
    font-size: 16px;
    color:inherit;
    cursor: pointer;
    display:block;
}

.content__top-tab-item--link:hover{
    color:var(--color-secondary);
}

.border-bottom{
    color:var(--color-primary);
    border-bottom:4px solid var(--color-primary);
}

.top-download{
    background-color: rgba(255,255,255,1);
}


/* ------------ css item ------------ */
.box1__item{
    width:100%;
    height: auto;
}

.box1__item--link{
    text-decoration: none;
    color: inherit;
    background-color: transparent;
}

.item-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius:4px;
    background-color: var(--color-main-background);
    border-width:1px solid #e2e8f0;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
}
.item-detail:hover{
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 4%);
}


.item__image{
    overflow: hidden;
    width:100%;
}

.item__image img{
    width:100%;
    height: 224px;
    object-position: top;
    object-fit: cover;
    border-top-left-radius:4px;
}

.item__text{
    padding:16px;

}

.item__text--heading{
    text-align: center;
    margin-bottom:12px;
    display: flex;
    align-items: center;
}

.item__text--title{
    font-size:18px;
    word-break: break-word;
    overflow-wrap: break-word;
    color:var(--color-primary);
    text-align: left;
    padding: 8px 0px;
    font-weight:500;
}
.item__text--title:hover{
    color:var(--color-secondary);
}

.item__text--describe{
    font-size: 16px;
    display: block;
    word-break: break-word;
    overflow-wrap: break-word;
    text-align: left;
    line-height: 1.625;

}

.icon-control{
    margin-top:20px;
    text-align: right;
    text-transform: uppercase;
    align-items: center;
}
.icon-control span{
    color: #718096;
    padding-right:4px;
    margin-right:12px;
    line-height: 1;
    font-size: 14px;
}

.icon-svg{
    margin-left: 8px;
    width:16px;
    height: 16px;
    margin-bottom:4px;
    display: -webkit-inline-box;
}


.content__next-page{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: stretch;
    margin-top: 12px;
    font-size: 20px;
    border-top:1px solid #e2e8f0;
    color:var(--color-primary);


}

.content__next-page--btn{
    flex:1 1 0%;
    display: block;
    opacity: 0.5;
    background-color: transparent;
    outline: none;
    color:var(--color-primary);


}

.content__next-page--btn:hover{
    font-weight: 700;
    opacity:1;
}

.contetn__next-page--number{
    flex:1 1 0%;
    padding:12px;

}

.contetn__next-page--number:hover{
    font-weight:700;

}


@media (max-width:640px){
    .hidden-on-mobile{
        display: none;
    }
    .padding-xy{
        padding:4px;
    }
}


@media (min-width:641px) and (max-width:768px){
    .hidden-on-mobile{
        display: none;
    }
    .padding-xy{
        padding:4px;
    }
    
}

@media (min-width:769px) and (max-width:1113px){
    .padding-xy{
        padding:8px;
    }

}

@media (min-width:1114px) and (max-width:1279px){
    .padding-xy{
        padding:12px;
    }

}

@media (min-width:1280px){
    .padding-xy{
        padding:12px;
    }
    
}


