#footer{
    display:block;
    width:100%;
    bottom:0;
    padding-bottom:20px;
    margin-top:64px;
    border-top: 1px solid rgba(203,213,224,1);
    background-color: rgba(255,255,255,1);

}

.footer__main{
    padding: 0px 8px;
    margin:0px auto;

}

.footer__main-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:8px;
    text-align: center;

}

.footer__main-logo--link{
    width:100%;
    margin-top:20px;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;

}
.footer__main--image{
    height: 32px;
    max-width:100%;
    display: inline-block;

}

.footer__main-describe{
    text-align: center;
    padding:8px;
    font-size: 12px;

}

.footer__main-describe--link{
    text-decoration: none;
    color:inherit;
    margin: 4px 8px;
    display: inline-block;

}

.footer__main-infor{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    text-align: center;
    padding: 12px 12px 0px;
    margin: 0px auto;
    font-size: 12px;
    text-transform:uppercase;
    
}

.footer__main-infor--link{
    text-decoration: none;
    color:rgba(74,85,104,1);

}

.footer__main-license{
    margin:12px auto;
    text-align: center;
    font-size: 14px;

}

#to-top{
    position: fixed;
    bottom:0;
    right:0;
    margin-bottom:80px;
    margin-right:20px;
    cursor: pointer;

}
.icon-scroll{
    width:40px;
    height: 40px;
    color:var(--color-secondary);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    opacity: 0.75;
    border-radius: 9999px;

}