<div class="content__top-breadcrumb container">
    <nav class="breadcrumb">
        <ul class="breadcrumb-list">
            <li>
                <a class="breadcrumb-item--link" href="">
                    <span property="name">Home</span>
                </a>
                <meta property="position" content="1">
            </li>
            <li>
                <a class="breadcrumb-item--link" href="">
                    <svg class="icon-breadcrumb" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"  >
                        <polyline points="9 18 15 12 9 6"></polyline>
                      </svg>
                    <span property="name">All</span>
                </a>
                <meta property="position" content="2">
            </li>
        </ul>
    </nav>
</div>