@import "../../components/header/header.css";
@import "../../components/footer/footer.css";

#content__search{
    margin: 0px auto;
    padding: 12px 12px;
}

.content__top{
    margin-top:16px;
    padding: 0px;
}
.content__top--heading-first{
    width:100%;
    margin-top:8px;
    margin-bottom:16px;
    padding:0px;
    word-break: break-word;
    overflow-wrap: break-word;
    font-size: 24px;
    font-weight:700;
    text-align: left;

}

.content-main__title-secondary{
    padding:8px;
    font-size: 20px;

}

.content__box{
    width:100%;
    
}

.box3__item{
    display: flex;
    margin: 8px 0px;
    padding:8px;
    overflow: auto;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 2px solid #edf2f7;

}

.box3__item-link{
    text-decoration: none;
    color:inherit;

}

.box3__item-link--image{
    width:160px;
    margin-right:8px;
    border:1px solid #e2e8f0;

}

.box3__item-text{
    color: var(--color-text-default);
    line-height: 1.5;
    letter-spacing: 0;
    background-color: rgba(255, 255, 255, 1);

}

.box3__item-text h3{
    margin-bottom:8px;
}

.box3__item-text--link{
    text-decoration: none;
    color:var(--color-primary);
    font-size: 20px;
    font-weight:500;
    margin-bottom:8px;
    background-color: transparent;

}

.box3__item-text--link:hover{
    color:var(--color-secondary);
}

.box3__item-text--describe{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
    color: var(--color-text-default);

}

.box3__item-text--view{
    padding:8px 0px;
    text-align: left;
    text-transform: uppercase;
}

.item-text--icon{
    height: 16px;
    width:16px;
    margin-left:8px;
    display: -webkit-inline-box;
}

.link__read-more{
    font-size: 14px;
    text-decoration: none;
    color:var(--color-primary);
}

.link__read-more:hover{
    color:var(--color-secondary);
}

.show-all-document{
    padding:16px 0px;
    width:100%;
    text-align: center;

}

.show-all-document--link{
    text-decoration: none;
    font-size: 16px;
    color:var(--color-primary);

}

.top__advertisement{
    width:100%;
    text-align: center;
    border-bottom:2px solid #ed8936;
    padding: 8px 0px;

}

.content__next-page{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: stretch;
    margin-top: 12px;
    font-size: 20px;
    border-top:1px solid #e2e8f0;
    color:var(--color-primary);


}

.content__next-page--btn{
    flex:1 1 0%;
    display: block;
    opacity: 0.5;
    background-color: transparent;
    outline: none;
    color:var(--color-primary);


}

.content__next-page--btn:hover{
    font-weight: 700;
    opacity:1;
}

.contetn__next-page--number{
    flex:1 1 0%;
    padding:12px;

}

.contetn__next-page--number:hover{
    font-weight:700;

}

.sidebar__right{
    text-align: center;
}