
#header{
    width:100%;
    padding: 4px 0px;
    border:0 solid #e2e8f0;
    border-bottom: 1px solid #e2e8f0;
    background-color: var(--color-main-background);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    z-index: 50;
}

.header__navigation{
    display: flex;
    margin: 0px auto;
    align-items: center;
    padding: 8px 24px;
    height: auto;
    background-color: var(--color-main-background);
}

.header__logo{
    flex:1
}

.header__logo--image{
    height: 32px;
    object-fit: contain;

}

.header__search{
    flex:2;
    position: relative;

}

.header__search--input{
    width: 100%;
    height: 40px;
    padding-left:12px;
    font-size: 14px;
    outline:none;
    border-radius: 8px;
    border: 1px solid #e2e8f0;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: auto;
    color: var(--color-text-default);

}

.header__search--btn{
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    background-color: transparent;
    outline:none;
    padding: 12px;
    font-size: 20px;
    
}

.header__search--btn:hover{
    cursor:pointer;
}

.header__menu{
    flex:1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.header__menu--click{
    margin: 0;
    cursor: pointer;
}

.header__menu--user{
    padding-left: 12px;
    margin: 0;
    color: var(--color-text-default);
}

.header__menu--icon{
    font-size: 24px;
    color: var(--color-text-default);
}

.menu__list{
    position: absolute;
    top:72px;
    left:0;
    right:0;
}


.header__overlay{
    position: fixed;
    height: 100%;
    width:100%;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: rgb(74, 85, 104,0.25);
    z-index: 20;
    display: none;
}

.hide__menu{
    position: absolute;
    width: 100%;
    top:-8px;
    right: 0;
    left:0;
    margin:0px auto;
    z-index:30;

    display:none;
}

.menu__list{
    margin:0px 24px;
    padding: 24px 0px;
    list-style: none;
    background-color:rgb(255, 255, 255);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);

}

.menu__item{
    width:100%;
    display: block;
    background-color:rgb(255, 255, 255);
}

.menu__item--link{
    color:var(--color-primary);
    padding: 8px 16px;
    font-size:16px;
    width:100%;
    display: block;
    text-decoration: none;
}
.menu__item--link:hover{
    color: var(--color-secondary);
}

.menu__check{
    display: none;
}

.menu__check:checked ~ .header__overlay{
    display: block;
}

.menu__check:checked ~ .hide__menu{
    display: block;
}

/* -------- Content ------ */
#content{
    display: block;
    margin-top: 2px;
    padding: 32px 0px;
    background-color: rgb(255, 255, 255);
}

.content__first{
    margin: 0px auto;
    padding: 0px 20px;
    text-align: center;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.content__first-image{
    height: auto;
    margin-bottom:40px;
    margin-top:40px;
}

.content__first-text--title{
    font-size: 64px;
    color: var(--color-primary);
    margin-bottom:16px;
    font-weight:700;
    line-height: 1.25;
}

.content__first-text--describe{
    margin-bottom:32px;
    line-height: 1.625;
    font-size: 20px;
}

.content__first-text--input{
    border: 1px solid #f5f5f5;
    height: 80px;
    padding-left: 32px;
    width:100%;
    font-size:20px;
    overflow:visible;
    outline: none;
    border-radius: 50px;
    box-shadow: 0 10px 35px rgb(0 0 0 / 12%);
}

.content__first--search{
    position: relative;
}

.content__first-text--btn{
    position: absolute;
    top: 0;
    bottom:0;
    right: 0;
    background-color: rgba(255,255,255, 0);
    width:80px;
    height:80px;
    outline: none;
    cursor: pointer;

}

.content__first-text--btn i{
    font-size: 35px;
}

.content__secondary{
    margin:0px auto;
    padding: 48px 20px 0px 20px;
    color: #333333;
}

.content__secondary-text{
    text-align:center;
    margin-bottom:40px;
}

.content__secondary-text--title{
    font-size: 36px;
    margin-bottom: 16px;
    font-weight: 500;
    color: var(--color-primary);
}

.content__secondary-text--describe{
    font-size: 16px;
    line-height: 1.625;
}

.topic-box__item{
    width: 100%;
    padding: 16px;
    text-align: center;
}

.topic-box--link{
    text-decoration: none;
    height: 100%;
    color:var(--color-text-default);
    background-color: transparent;
}

.topic-box__item-detail{
    height: 100%;
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 8%);

}

.topic-box__item-detail:hover{
    box-shadow: 0 10px 35px rgb(0 0 0 / 12%);
}

.topic-box__image{
    margin: 20px 0px;
    width:80px;
    height:80px;
    display: inline-flex;
    align-items:center;
    justify-content: center;
    color:var(--color-secondary);

}

.topic-box--text{
    margin-bottom:12px;
    font-weight:700;
    font-size:20px;
}

.content__third{
    margin:0px auto;
    padding: 96px 20px;
    text-align: center;
}

.content__third-text{
    font-size: 36px;
    color: var(--color-primary);
    margin-bottom:16px;
    font-weight:500;

}

.content__third-describe{
    margin: 0px auto;
    line-height: 1.625;
    font-size: 16px;
}

/*-------------------------------*/

.top-download{
    margin: 20px auto 0px;
    
}

.top-download--detail{
    padding: 24px 0px;

}

.top-week{
    display: flex;
    flex-direction: column;
}

.top-month{
    display: flex;
    flex-direction: column;
}


.top-last-added{
    display: flex;
    flex-direction: column;
}

.top__title{
    padding:0px 12px;
    margin: 0px auto;
    z-index: 10;
    width:100%;
    display: flex;
    position: sticky;
    top: 0;
}

.top__title--heading{
    width:100%;
    padding: 8px 4px;
    opacity: 0.75;
    text-align: center;
    font-size: 18px;
    height: 48px;
    color: #ffffff;
}
.bg-heading-week{
    background-color: var(--color-primary);
}
.bg-heading-month{
    background-color:rgba(66,153,225,1) ;
}
.bg-heading-last-added{
    background-color:var(--color-secondary) ;
}

.top__item{
    padding: 12px;
    width:100%;
    height: auto;
}

.top__item--link{
    text-decoration: none;
    color: inherit;
    background-color: transparent;
}

/* ------------ css item ------------ */
.item-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius:4px;
    background-color: var(--color-main-background);
    border-width:1px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
}
.item-detail:hover{
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 4%);
}


.item__image{
    overflow: hidden;
    width:100%;
}

.item__image img{
    width:100%;
    height: 224px;
    object-position: top;
    object-fit: cover;
    border-top-left-radius:4px;
}

.item__text{
    padding:16px;

}

.item__text--heading{
    text-align: center;
    margin-bottom:12px;
    display: flex;
    align-items: center;
}

.item__text--title{
    font-size:18px;
    word-break: break-word;
    overflow-wrap: break-word;
    color:var(--color-primary);
    text-align: left;
    padding: 8px 0px;
    font-weight:500;
}
.item__text--title:hover{
    color:var(--color-secondary);
}

.item__text--describe{
    font-size: 16px;
    display: block;
    word-break: break-word;
    overflow-wrap: break-word;
    text-align: left;
    line-height: 1.625;

}

.icon-control{
    margin-top:20px;
    text-align: right;
    text-transform: uppercase;
    align-items: center;
}
.icon-control span{
    color: #718096;
    padding-right:4px;
    margin-right:12px;
    line-height: 1;
    font-size: 14px;
}

.icon-svg{
    margin-left: 8px;
    width:16px;
    height: 16px;
    margin-bottom:4px;
    display: -webkit-inline-box;
}










/*  -------------footer ---------------- */
#footer{
    display:block;
    width:100%;
    bottom:0;
    padding-bottom:20px;
    margin-top:64px;
    border-top: 1px solid rgba(203,213,224,1);
    background-color: rgba(255,255,255,1);

}

.footer__main{
    padding: 0px 8px;
    margin:0px auto;

}

.footer__main-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:8px;
    text-align: center;

}

.footer__main-logo--link{
    width:100%;
    margin-top:20px;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;

}
.footer__main--image{
    height: 32px;
    max-width:100%;
    display: inline-block;

}

.footer__main-describe{
    text-align: center;
    padding:8px;
    font-size: 12px;

}

.footer__main-describe--link{
    text-decoration: none;
    color:inherit;
    margin: 4px 8px;
    display: inline-block;

}

.footer__main-infor{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    text-align: center;
    padding: 12px 12px 0px;
    margin: 0px auto;
    font-size: 12px;
    text-transform:uppercase;
    
}

.footer__main-infor--link{
    text-decoration: none;
    color:rgba(74,85,104,1);

}

.footer__main-license{
    margin:12px auto;
    text-align: center;
    font-size: 14px;

}

#to-top{
    position: fixed;
    bottom:0;
    right:0;
    margin-bottom:80px;
    margin-right:20px;
    cursor: pointer;

}
.icon-scroll{
    width:40px;
    height: 40px;
    color:var(--color-secondary);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    opacity: 0.75;
    border-radius: 9999px;

}