<footer id="footer">
    <div class="footer__main container ">
        <div class="footer__main-logo">
            <a href="" class="footer__main-logo--link">
                <img src="../../assets/images/1library.net.png" alt="" class="footer__main--image">
            </a>
        </div>

        <div class="footer__main-describe">
            <a href="" class="footer__main-describe--link">
                1Library - Plattform zum Austausch von Dokumenten
            </a>
        </div>

        <div class="footer__main-infor">
            <div class="row no-gutters container">
                <div class="footer__main-infor-item x-3 l-3 m-3 sm-3 s-12 ">
                    <a href="" class="footer__main-infor--link">About Us</a>
                </div>
                <div class="footer__main-infor-item x-3 l-3 m-3 sm-3 s-12 ">
                    <a href="" class="footer__main-infor--link">Policy</a>
                </div>
                <div class="footer__main-infor-item x-3 l-3 m-3 sm-3 s-12 ">
                    <a href="" class="footer__main-infor--link">Terms Of User</a>
                </div>
                <div class="footer__main-infor-item x-3 l-3 m-3 sm-3 s-12 ">
                    <a href="" class="footer__main-infor--link">Contact Us</a>
                </div>
            </div>
        </div>

        <div class="footer__main-license">
            <span> Copyright 1Library © . 2021 </span>
        </div>

    </div>

</footer>
<div id="to-top">
    <a href="">
        <svg class="icon-scroll" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" >
            <circle cx="12" cy="12" r="10"></circle><polyline points="16 12 12 8 8 12"></polyline>
            <line x1="12" y1="16" x2="12" y2="8"></line>
        </svg>
    </a>
</div>