@import "../../components/header/header.css";
@import "../../components/footer/footer.css";


#content__page-title{
    width:100%;
    margin:16px auto 0px;
}

.side-bar__left{
    text-align: center;
}

.content__main{
    margin: 0px auto;
}

.content__top--heading{
    text-align:left;
    font-size: 24px;
    font-weight:700;
    padding:0px 8px;
    margin-bottom: 16px;
    margin-top:8px;
    color:var(--color-text-default);
}

.conten__box{
    display:flex;
    flex-direction: column;
    margin-bottom:16px;
}

.box3__item{
    display: flex;
    width:100%;
    padding:8px;
    overflow: auto;
    margin:8px 0px;
    border-bottom-width:2px;
    border-color: #edf2f7;
    background-color: rgba(255, 255, 255, 1);
}

.box3__item--link{
    text-decoration:none;
    background-color: transparent;
    color: #333333;
}

.box3__item-link--image{
    width:160px;
    margin-right:8px;
    border: 1px solid #e2e8f0;
}


.item-describe-heading--link{
    text-decoration: none;
    margin-bottom:8px;
    font-size:20px;
    color:var(--color-primary);
    font-weight:500;
    display: block;
    background-color: transparent;
    overflow-wrap: break-word;
    word-break: break-word;
}
.item-describe-heading--link:hover{
    color:var(--color-secondary);
}

.item-describe--text{
    overflow:hidden;
    font-size: 16px;
    -webkit-line-clamp: 8;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.item-describe--view{
    text-transform: uppercase;
    text-align: right;
    font-size: 14px;
    padding: 8px 0px;
}

.item-describe--view-icon{
    display:inline-block;
    width:16px;
    height:16px;
    margin-left:8px;
    margin-bottom:4px;



}
.item-describe--view-link{
    margin-left:8px;
    color:var(--color-primary);
    text-decoration: none;

}
.item-describe--view-link:hover{
    color:var(--color-secondary);
}

.content__show-all{
    width:100%;
    text-align:center;
    padding:16px 0px;
    background-color: rgba(255, 255, 255, 1);

}


.content__show-all--link{
    text-decoration: none;
    color:var(--color-primary);
    font-size:16px;

}

.content__show-all--link:hover{
    color:var(--color-secondary);
}