<div class="box3__item">
    <a class="box3__item-link" href="">
        <img class="box3__item-link--image" src="../../assets/images/image__subject/cover (2)" alt="">
    </a>
    <div class="box3__item-text">
        <h3>
            <a class="box3__item-text--link" href="">
                Mechanical properties of SS316L and natural hydroxyapatite composite in metal injection molding
            </a>
        </h3>
        <div class="box3__item-text--describe">
            HR-TEM micrographs of the different biosorbents are shown in Figures  3(a)-(c) for natural fish bones (F.B), synthetic <b>hydroxyapatite</b> (HAP) and algi- nate <b>hydroxyapatite</b> <b>composite</b> (Alg/Hap), respectively. Powders were dispersed  in ethanol under ultra-sonication. Then a drop of the solution was placed onto a  Cu grid coated with a thin holey carbon film. The samples were measured at 200  kV. It is noticed that there are several numbers of heterogeneous porous layer  which may provide a good possibility for the adsorption of the examined metals. 
          </div>
        <p class="box3__item-text--view">
            <svg class="item-text--icon" viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                <polyline points="13 2 13 9 20 9"></polyline>
              </svg>
              <a class="link__read-more" href="">Read More</a>
        </p>
    </div>
</div>