@import "../../components/header/header.css";
@import "../../components/footer/footer.css";
@import "../../components/breadcrumb/breadcrumb.css";

#content__setting{
    margin: 0px auto;
}


.content__main-tablist{
    display: flex;

}

.content__main-tablist--link{
    text-decoration: none;
    padding: 16px 8px;
    width:160px;
    color: var(--color-text-defaul);
    display: inline-block;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    border-bottom:4px solid #e2e8f0;
    margin-right:4px;

}

.content__main-tablist--link-secondary{
    color:var(--color-primary) !important;
    border-bottom:4px solid var(--color-primary) !important;
}

.content__main-list-downloaded{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    background-color: #ffffff;
    margin:0px auto;
    text-align: center;
    padding:16px;
}

.list-download{
    padding-right:8px;
    margin-bottom:16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.list-download--link{
    color:var(--color-primary);
    display: block;
    word-break: break-word;
    font-size: 20px;
    text-decoration: none;
    text-align: left;
}

.list-download--control{
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
}

.list-download--control-icon{
    display: flex;
    margin-right: 8px;
    margin-top:4px;
    text-align: center;

}

.list-download--control-icon svg{
    margin-right:4px;
    margin-left:8px;
}

.list-download--control-icon a{
    text-decoration: none;
    font-size: 16px;
    color:var(--color-secondary);
    display: inline-block;
    padding:4px 8px;
    border:1px solid var(--color-secondary);
    cursor: pointer;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%); ;
}

.list-download--control-icon a:hover{
    color:#ffffff;
    background-color: var(--color-secondary);
}


@media (max-width:640px){
    .padding-x{
        padding:0px 0px;
    }
    .main-profile__left, .main-profile__right{
        width:100%;
    }
    .profile__left-tab--label, .profile__left-tab--text{
        width:100%;
    }
    .padding-xy{
        padding:0px 12px;
    }
    .list-download{
        width:100%;
    }

}

@media (min-width:641px) and (max-width:768px){
    .padding-x{
        padding:0px 8px;
    }
    .main-profile__left, .main-profile__right{
        width:100%;
    }
    .profile__left-tab--label{
        width:calc(100%/3);
    }
    .profile__left-tab--text{
        width:50%;
    }
    .padding-xy{
        padding:0px 12px;
    }
    .list-download{
        width:100%;
    }

}

@media (min-width:769px) and (max-width:1113px){
    .padding-x{
        padding:0px 12px;
    }
    .main-profile__left, .main-profile__right{
        width:100%;
    }
    .profile__left-tab--label{
        width:calc(100%/3);
    }
    .profile__left-tab--text{
        width:50%;
    }
    .padding-xy{
        padding:0px 12px;
    }
    .list-download{
        width:100%;
    }

}

@media (min-width:1114px) and (max-width:1279px){
    .padding-x{
        padding:0px 12px;
    }
    .main-profile__left, .main-profile__right{
        width:50%;
    }
    .profile__left-tab--label{
        width:calc(100%/3);
    }
    .profile__left-tab--text{
        width:50%;
    }
    .padding-xy{
        padding:0px 80px;
    }
    .list-download{
        width:50%;
    }

}

@media (min-width:1280px){
    .padding-x{
        padding:0px 12px;
    }
    .main-profile__left, .main-profile__right{
        width:50%;
    }
    .profile__left-tab--label{
        width:calc(100%/3);
    }
    .profile__left-tab--text{
        width:50%;
    }
    .padding-xy{
        padding:0px 80px;
    }
    .list-download{
        width:50%;
    }

}