@import "../../main.css";
@import "../../components/header/header.css";
@import "../../components/footer/footer.css";


/* -----------  css page home content ------- */
#content__home{
    margin-top: 2px;
    padding: 32px 0px;
    background-color: rgba(255, 255, 255,1);
}

.content__first{
    margin: 0px auto;
    padding-top:0px;
    padding-bottom:0px;
    text-align: center;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.content__first-image{
    height: auto;
    margin-bottom:40px;
    margin-top:40px;
}
.content__first-text{
    padding: 0px 12px;

}

.content__first-text--heading{
    width:100%;
    color: var(--color-primary);
    margin-bottom:16px;
    font-weight:700;
    line-height: 1.25;
}

.content__first-text--describe{
    margin-bottom:32px;
    line-height: 1.625;
    font-size: 20px;
}

.content__first-text--input{
    border: 1px solid #f5f5f5;
    height: 80px;
    padding-left: 32px;
    width:100%;
    font-size:20px;
    overflow:visible;
    outline: none;
    border-radius: 50px;
    box-shadow: 0 10px 35px rgb(0 0 0 / 12%);
}

.content__first--search{
    position: relative;
}

.content__first-text--btn{
    position: absolute;
    top: 0;
    bottom:0;
    right: 0;
    background-color: rgba(255,255,255, 0);
    width:80px;
    height:80px;
    outline: none;
    cursor: pointer;

}

.content__first-text--btn i{
    font-size: 35px;
}
/* -------content__secondary -----*/

.content__secondary{
    margin:0px auto;
    padding-top:48px;
    color: #333333;
}

.content__secondary-text{
    text-align:center;
    margin-bottom:40px;
}

.content__secondary-text--heading{
    font-size: 36px;
    margin-bottom: 16px;
    font-weight: 500;
    color: var(--color-primary);
}

.content__secondary-text--describe{
    font-size: 16px;
    line-height: 1.625;
}

.topic-box__item{
    width: 100%;
    padding: 16px;
    text-align: center;
}

.topic-box--link{
    text-decoration: none;
    height: 100%;
    color:var(--color-text-default);
    background-color: transparent;
}

.topic-box__item-detail{
    height: 100%;
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 8%);

}

.topic-box__item-detail:hover{
    box-shadow: 0 10px 35px rgb(0 0 0 / 12%);
}

.topic-box__image{
    margin: 20px 0px;
    width:80px;
    height:80px;
    display: inline-flex;
    align-items:center;
    justify-content: center;
    color:var(--color-secondary);

}

.topic-box--text{
    margin-bottom:12px;
    font-weight:700;
    font-size:20px;
}

.content__third{
    margin:0px auto;
    padding-top: 96px;
    text-align: center;
}

.content__third-text{
    font-size: 36px;
    color: var(--color-primary);
    margin-bottom:16px;
    font-weight:500;

}

.content__third-describe{
    margin: 0px auto;
    line-height: 1.625;
    font-size: 16px;
}

/*-------------------------------*/

.top-download{
    margin: 20px auto 0px;
    
}

.top-download--detail{
    padding: 24px 0px;

}

.top-week{
    display: flex;
    flex-direction: column;
}

.top-month{
    display: flex;
    flex-direction: column;
}


.top-last-added{
    display: flex;
    flex-direction: column;
}

.top__title{
    padding:auto auto;
    margin: 0px auto;
    z-index: 10;
    width:100%;
    display: flex;
    position: sticky;
    top: 0;
}

.top__title--heading{
    width:100%;
    padding: 8px 4px;
    opacity: 0.75;
    text-align: center;
    font-size: 18px;
    height: 48px;
    color: #ffffff;
}
.bg-heading-week{
    background-color: var(--color-primary);
}
.bg-heading-month{
    background-color:rgba(66,153,225,1) ;
}
.bg-heading-last-added{
    background-color:var(--color-secondary) ;
}

/* ------------ css box1_item ------------ */
.box1__item{
    width:100%;
    height: auto;
}

.box1__item--link{
    text-decoration: none;
    color: inherit;
    background-color: transparent;
}

.item-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius:4px;
    background-color: var(--color-main-background);
    border-width:1px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
}
.item-detail:hover{
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 4%);
}


.item__image{
    overflow: hidden;
    width:100%;
}

.item__image img{
    width:100%;
    height: 224px;
    object-position: top;
    object-fit: cover;
    border-top-left-radius:4px;
}

.item__text{
    padding:16px;

}

.item__text--heading{
    text-align: center;
    margin-bottom:12px;
    display: flex;
    align-items: center;
}

.item__text--title{
    font-size:18px;
    word-break: break-word;
    overflow-wrap: break-word;
    color:var(--color-primary);
    text-align: left;
    padding: 8px 0px;
    font-weight:500;
}
.item__text--title:hover{
    color:var(--color-secondary);
}

.item__text--describe{
    font-size: 16px;
    word-break: break-word;
    overflow-wrap: break-word;
    text-align: left;
    line-height: 1.625;

}

.icon-control{
    margin-top:20px;
    text-align: right;
    text-transform: uppercase;
    align-items: center;
}
.icon-control span{
    color: #718096;
    padding-right:4px;
    margin-right:12px;
    line-height: 1;
    font-size: 14px;
}

.icon-svg{
    margin-left: 8px;
    width:16px;
    height: 16px;
    margin-bottom:4px;
    display: -webkit-inline-box;
}


@media (max-width:640px){
    .container{
        max-width:640px;
    }
    .padding-xy{
        padding: 4px;
    }
    .padding-x{
        padding-left: 0px;
        padding-right: 0px;
    }
    .content__first-image{
        width:50%;
    }
    .rps-heading{
        font-size: 36px;
    }
    .rps-wide{
        width:100%;
    }
    

}

@media (min-width:641px) and (max-width:768px){
    .container{
        max-width:640px;
    }
    .padding-xy{
        padding: 4px;
    }
    .padding-x{
        padding-left: 8px;
        padding-right: 8px;
    }
    .content__first-image{
        width:50%;
    }
    .rps-heading{
        font-size: 48px;
    }
    .rps-wide{
        width:100%;
    }
    .hidden-on-mobile{
        display: none;
    }
    .rps-header__logo{
        flex:1;
        order:2;
        justify-content: center;
    }
    .rps-header__search{
        flex:1;
        order:1;
    }
    .rps-header__menu{
        flex:1;
        order:3;
    }

}

@media (min-width:769px) and (max-width:1113px){
    .container{
        max-width:769px;
    }
    .padding-xy{
        padding: 8px;
    }
    .padding-x{
        padding-left: 20px;
        padding-right: 20px;
    }
    .content__first-image{
        width:50%;
    }
    .rps-heading{
        font-size: 48px;
    }
    .rps-wide{
        width:100%;
    }
   

}

@media (min-width:1114px) and (max-width:1279px){
    .container{
        max-width:1114px;
    }
    .padding-xy{
        padding: 12px;
    }
    .padding-x{
        padding-left: 20px;
        padding-right: 20px;
    }
    .content__first-image{
        width:calc(100%/3);
    }
    .rps-heading{
        font-size: 64px;
    }
    .rps-wide{
        width:66.6666%;
    }
    

}

@media (min-width:1280px){
    .container{
        max-width:1280px;
    }
    .padding-xy{
        padding: 12px;
    }
    .padding-x{
        padding-left: 20px;
        padding-right: 20px;
    }
    .content__first-image{
        width:calc(100%/3);
    }
    .rps-heading{
        font-size: 64px;
    }
    .rps-wide{
        width:66.6666%;
    }
    
}


