@import "../../components/header/header.css";
@import "../../components/footer/footer.css";
@import "../../components/breadcrumb/breadcrumb.css";

#content__setting{
    margin: 0px auto;
}


.content__main-tablist{
    display: flex;

}

.content__main-tablist--link{
    text-decoration: none;
    padding: 16px 8px;
    width:160px;
    color: var(--color-text-defaul);
    display: inline-block;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    border-bottom:4px solid #e2e8f0;
    margin-right:4px;

}

.content__main-tablist--link:first-child{
    color:var(--color-primary);
    border-bottom:4px solid var(--color-primary);
}

.content__main-profile{
    display:flex;
    flex-wrap:wrap;
    width:100%;
    padding:16px 12px;
    background-color:rgba(255,255,255,1);
    
}


.profile__left-information{
    display: flex;
    justify-content: space-between;
    margin-bottom:16px;
}

.profile__left-information span{
    padding:4px 0px;
    border-bottom:2px solid var(--color-primary);
    font-size: 16px;
    text-transform:uppercase;
}

.profile__left-information--link{
    color: inherit;
}

.profile__left-information--icon{
    width:16px;
    height: auto;
    padding:8px 0px;
}

.profile__left-tab{
    display: flex;
    flex-wrap: wrap;
    padding:8px 0px;
}

.profile__left-tab--label{
    font-size: 16px;
    padding-bottom:4px;
}

.profile__left-tab--text{
    font-size: 16px;
}

.main-profile__right-password{
    display:flex;
    justify-content: space-between;   
    margin-bottom:16px;
    

}

.main-profile__right-password span{
    font-size: 16px;
    padding:4px 0px;
    text-transform: uppercase;
    border-bottom:2px solid var(--color-primary);

}

.main-profile__right-password--link{
    color: inherit;

}


.profile__right-password--icon{
    width:16px;
    height: auto;
    padding: 8px 0px;
}

@media (max-width:640px){
    .padding-x{
        padding:0px 0px;
    }
    .main-profile__left, .main-profile__right{
        width:100%;
    }
    .profile__left-tab--label, .profile__left-tab--text{
        width:100%;
    }
    .padding-xy{
        padding:0px 12px;
    }

}

@media (min-width:641px) and (max-width:768px){
    .padding-x{
        padding:0px 8px;
    }
    .main-profile__left, .main-profile__right{
        width:100%;
    }
    .profile__left-tab--label{
        width:calc(100%/3);
    }
    .profile__left-tab--text{
        width:50%;
    }
    .padding-xy{
        padding:0px 12px;
    }

}

@media (min-width:769px) and (max-width:1113px){
    .padding-x{
        padding:0px 12px;
    }
    .main-profile__left, .main-profile__right{
        width:100%;
    }
    .profile__left-tab--label{
        width:calc(100%/3);
    }
    .profile__left-tab--text{
        width:50%;
    }
    .padding-xy{
        padding:0px 12px;
    }

}

@media (min-width:1114px) and (max-width:1279px){
    .padding-x{
        padding:0px 12px;
    }
    .main-profile__left, .main-profile__right{
        width:50%;
    }
    .profile__left-tab--label{
        width:calc(100%/3);
    }
    .profile__left-tab--text{
        width:50%;
    }
    .padding-xy{
        padding:0px 80px;
    }

}

@media (min-width:1280px){
    .padding-x{
        padding:0px 12px;
    }
    .main-profile__left, .main-profile__right{
        width:50%;
    }
    .profile__left-tab--label{
        width:calc(100%/3);
    }
    .profile__left-tab--text{
        width:50%;
    }
    .padding-xy{
        padding:0px 80px;
    }

}