/* ------------ css item ------------ */
.box1__item{
    width:100%;
    height: auto;
}

.box1__item--link{
    text-decoration: none;
    color: inherit;
    background-color: transparent;
}

.item-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius:4px;
    background-color: var(--color-main-background);
    border:1px solid #e2e8f0;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
}
.item-detail:hover{
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 4%);
}


.item__image{
    overflow: hidden;
    width:100%;
}

.item__image img{
    width:100%;
    height: 224px;
    object-position: top;
    object-fit: cover;
    border-top-left-radius:4px;
}

.item__text{
    padding:16px;

}

.item__text--heading{
    text-align: center;
    margin-bottom:12px;
    display: flex;
    align-items: center;
}

.item__text--title{
    font-size:18px;
    word-break: break-word;
    overflow-wrap: break-word;
    color:var(--color-primary);
    text-align: left;
    padding: 8px 0px;
    font-weight:500;
}
.item__text--title:hover{
    color:var(--color-secondary);
}

.item__text--describe{
    font-size: 16px;
    display: block;
    word-break: break-word;
    overflow-wrap: break-word;
    text-align: left;
    line-height: 1.625;

}

.icon-control{
    margin-top:20px;
    text-align: right;
    text-transform: uppercase;
    align-items: center;
}
.icon-control span{
    color: #718096;
    padding-right:4px;
    margin-right:12px;
    line-height: 1;
    font-size: 14px;
}

.icon-svg{
    margin-left: 8px;
    width:16px;
    height: 16px;
    margin-bottom:4px;
    display: -webkit-inline-box;
}
