.box3__item{
    display: flex;
    margin: 8px 0px;
    padding:8px;
    overflow: auto;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 2px solid #edf2f7;

}

.box3__item-link{
    text-decoration: none;
    color:inherit;

}

.box3__item-link--image{
    width:160px;
    margin-right:8px;
    border:1px solid #e2e8f0;

}

.box3__item-text{
    color: var(--color-text-default);
    line-height: 1.5;
    letter-spacing: 0;
    background-color: rgba(255, 255, 255, 1);

}

.box3__item-text h3{
    margin-bottom:8px;
}

.box3__item-text--link{
    text-decoration: none;
    color:var(--color-primary);
    font-size: 20px;
    font-weight:500;
    margin-bottom:8px;
    background-color: transparent;

}

.box3__item-text--link:hover{
    color:var(--color-secondary);
}

.box3__item-text--describe{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
    color: var(--color-text-default);

}

.box3__item-text--view{
    padding:8px 0px;
    text-align: left;
    text-transform: uppercase;
}
