
#header{
    width:100%;
    padding: 4px 0px;
    border:0 solid #e2e8f0;
    border-bottom: 1px solid #e2e8f0;
    background-color: var(--color-main-background);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    z-index: 50;
    position: relative;
    
}

.header__navigation{
    display: flex;
    margin: 0px auto;
    align-items: center;
    padding: 8px 24px;
    height: auto;
    background-color: var(--color-main-background);
}

.header__logo{
    display: flex;
    align-items: center;
}

.header__logo--image{
    height: 32px;
    object-fit: contain;

}

.header__search{
    /* flex:2; */
    position: relative;

}

.header__search--input{
    width: 100%;
    height: 40px;
    padding-left:12px;
    font-size: 14px;
    outline:none;
    border-radius: 8px;
    border: 1px solid #e2e8f0;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: auto;
    color: var(--color-text-default);

}

.header__search--btn{
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    background-color: transparent;
    outline:none;
    padding: 12px;
    font-size: 20px;
    
}

.header__search--btn-mobile{
    background-color: transparent;
    outline:none;
    font-size: 24px;

}

.header__search--btn:hover{
    cursor:pointer;
}

.header__menu{
    /* flex:1; */
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.header__menu--click{
    margin: 0;
    cursor: pointer;
}

.header__menu--user{
    padding-left: 12px;
    margin: 0;
    color: var(--color-text-default);
}

.header__menu--icon{
    font-size: 24px;
    color: var(--color-text-default);
}

.menu__list{
    position: absolute;
    top:72px;
    left:0;
    right:0;
}


.header__overlay{
    position: fixed;
    height: 100%;
    width:100%;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: rgb(74, 85, 104,0.25);
    z-index: 20;
    display: none;
}

.hide__menu{
    position: absolute;
    width: 100%;
    top:-8px;
    right: 0;
    left:0;
    margin:0px auto;
    z-index:30;

    display:none;
}

.menu__list{
    margin:0px 24px;
    padding: 24px 0px;
    list-style: none;
    background-color:rgb(255, 255, 255);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);

}

.menu__item{
    width:100%;
    display: block;
    background-color:rgb(255, 255, 255);
}

.menu__item--link{
    color:var(--color-primary);
    padding: 8px 16px;
    font-size:16px;
    width:100%;
    display: block;
    text-decoration: none;
}
.menu__item--link:hover{
    color: var(--color-secondary);
}

.menu__check{
    display: none;
}

.menu__check:checked ~ .header__overlay{
    display: block;
}

.menu__check:checked ~ .hide__menu{
    display: block;
}

/* ------- css header user------- */
.header__user{
    width: 100%;
    margin: 0px auto;
    position: relative;
    display:none;
    
}
.header__user.active{
    display: block;
}

.header__user-box{
    position: absolute;
    top:0;
    right: 0;
    display: flex;
    background-color:rgba(255,255,255,1);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    padding:16px;
    margin:4px 24px 0px;
    border:1px solid #e2e8f0;

}

.user-box__left{
    padding: 12px 8px 0px;
    margin:0px auto;

}

.user-box__left--image{
    padding:4px;
    text-align: center;

}
.user-box__left--image img{
    height: auto;
    width:90px;
    margin: 0px auto;
    border-radius:9999px;
    margin: 0px auto;

}

.user-box__left--describe{
    text-align: center;
    margin-top:8px;
}

.user-box__left--heading{
    font-size: 20px;
}

.user-box__left--text{
    font-size: 14px;
}

.user-box__left--icon{
    width:16px;
    display: inline-block;
    vertical-align: middle
}

.user-box__left--link{
    font-size: 14px;
    color: var(--color-primary);
    text-decoration: none;
}

.user-box__right{
    padding:12px 8px;
    margin:0px auto;

}

.user-box__right--item{
    width:100%;
}

.user-box__right--link{
    color: var(--color-primary);
    padding:8px 16px;
    text-decoration: none;
    font-size:16px;
    width:100%;
    display: block;
}





@media (max-width:640px){
    .container{
        max-width:640px;
    }
    .hidden-on-mobile{
        display: none;
    }
   
    .rps-header__logo{
        flex:1;
        order:2;
        justify-content: center;
    }
    .rps-header__search{
        flex:1;
        order:1;
    }
    .rps-header__menu{
        flex:1;
        order:3;
    }
    .rps-header__user-box{
        width:auto;
    }

}

@media (min-width:641px) and (max-width:768px){
    .container{
        max-width:640px;
    }
    .hidden-on-mobile{
        display: none;
    }
    .rps-header__logo{
        flex:1;
        order:2;
        justify-content: center;
    }
    .rps-header__search{
        flex:1;
        order:1;
    }
    .rps-header__menu{
        flex:1;
        order:3;
    }
    .rps-header__user-box{
        width:auto;
    }

}

@media (min-width:769px) and (max-width:1113px){
    .container{
        max-width:769px;
    }
    
    .hidden-on-mobile{
        display: none;
    }
    .rps-header__logo{
        flex:1;
        order:2;
        justify-content: center;
    }
    .rps-header__search{
        flex:1;
        order:1;
    }
    .rps-header__menu{
        flex:1;
        order:3;
    }
    .rps-header__user-box{
        width:auto;
    }

}

@media (min-width:1114px) and (max-width:1279px){
    .container{
        max-width:1114px;
    }
   
    .hidden-on-pc{
        display: none;
    }
    .rps-header__logo{
        flex:1;
        order:1;
    }
    .rps-header__search{
        flex:2;
        order:2;
    }
    .rps-header__menu{
        flex:1;
        order:3;
    }
    .rps-header__user-box{
        width:33.3333%;
    }

}

@media (min-width:1280px){
    .container{
        max-width:1280px;
    }
    .hidden-on-pc{
        display: none;
    }
    .rps-header__logo{
        flex:1;
        order:1;
    }
    .rps-header__search{
        flex:2;
        order:2;
    }
    .rps-header__menu{
        flex:1;
        order:3;
    }
    .rps-header__user-box{
        width:33.3333%;
    }


}

