.content__top-breadcrumb{
    width:100%;
    margin: 16px 0px;
    padding: 0px 8px;
}
.breadcrumb-list{
    display: flex;
    align-items: center;
    font-size: 16px;
}

.breadcrumb-item{
    padding-right:8px;
    font-size: 16px;
}

.breadcrumb-item--link{
    display: flex;
    justify-content: center;
    align-items: center;
}

.breadcrumb-item--link{
    text-decoration: none;
    color:#536a92;
    font-size: 16px;
}

.breadcrumb-item--link:hover{
    color:var(--color-secondary);
}

.icon-breadcrumb{
    display:inline-block;
    height:16px;
    width:16px;
    margin:0px, 8px;
}
