@import "../../components/breadcrumb/breadcrumb.css";
@import "../../components/header/header.css";
@import "../../components/footer/footer.css";


.content__topic-main{
    margin: 0px auto;
    padding: 8px;
    
}

.content__main{
    margin: 0px auto;

}

.content__main-item{
    padding: 8px;
    margin: 8px 0px;
    background-color: transparent;
    border:1px solid #e2e8f0;

}

.content__main-item--link{
    text-decoration:none;

}

.content__main-item--heading-first{
    color:var(--color-primary);
    height: 48px;
    margin-bottom:16px;
    line-height: 1.75;
    font-size: 20px;
    display: block;
    padding: 0px 8px;

}

.content__main-item--heading-secondary{
    text-transform:uppercase;
    font-size:14px;
    display: flex;
    align-items: center;
    color:#333333;
    padding: 0px 8px;

}