@import "../../components/header/header.css";
@import "../../components/footer/footer.css";


#content__subject{
    width:100%;
    margin-top:16px;
    margin-left: auto;
    margin-right: auto;
}
.content-main__title-first{
    width:100%;
    margin-top:8px;
    margin-bottom:16px;
    padding:0px 8px;
    word-break: break-word;
    overflow-wrap: break-word;
    font-size: 24px;
    font-weight:700;

}

.content-main__title-secondary{
    padding:8px;
    font-size: 20px;

}

.content__box{
    width:100%;
    
}

.box3__item{
    display: flex;
    margin: 8px 0px;
    padding:8px;
    overflow: auto;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 2px solid #edf2f7;

}

.box3__item-link{
    text-decoration: none;
    color:inherit;

}

.box3__item-link--image{
    width:160px;
    margin-right:8px;
    border:1px solid #e2e8f0;

}

.box3__item-text{
    color: var(--color-text-default);
    line-height: 1.5;
    letter-spacing: 0;
    background-color: rgba(255, 255, 255, 1);

}

.box3__item-text h3{
    margin-bottom:8px;
}

.box3__item-text--link{
    text-decoration: none;
    color:var(--color-primary);
    font-size: 20px;
    font-weight:500;
    margin-bottom:8px;
    background-color: transparent;

}

.box3__item-text--link:hover{
    color:var(--color-secondary);
}

.box3__item-text--describe{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
    color: var(--color-text-default);

}

.box3__item-text--view{
    padding:8px 0px;
    text-align: right;
    text-transform: uppercase;
}

.item-text--icon{
    height: 16px;
    width:16px;
    margin-left:8px;
    display: -webkit-inline-box;
}

.link__read-more{
    font-size: 14px;
    text-decoration: none;
    color:var(--color-primary);
}

.link__read-more:hover{
    color:var(--color-secondary);
}

.show-all-document{
    padding:16px 0px;
    width:100%;
    text-align: center;

}

.show-all-document--link{
    text-decoration: none;
    font-size: 16px;
    color:var(--color-primary);
}

.show-all-document--link:hover{
    color:var(--color-secondary);
}